<div class="container">
  <nav class="nav">
    <ul class="navigation-bar">
      <li class="item"><a class="link" href="#">Home</a></li>
      <li class="item"><a class="link" href="/users">Users</a></li>
      <li class="item"><a class="link" href="#">Empty</a></li>
      <li class="item"><a class="link" href="#">Empty</a></li>
      <li class="item"><a class="link" href="#">Empty</a></li>
      <li class="item"><a class="link" href="#">Empty</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>


