<div class="container">
  <nav class="nav">
    <ul class="navigation-bar">
      <li class="item"><a class="link" href="#">Home</a></li>
      <li class="item"><a class="link" href="/advertisements">Advertisements</a></li>
      <li class="item"><a class="link" href="/users">Users</a></li>

      <div class="dropdown">
        <button class="dropbtn">Categories
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <div *ngFor="let category of categories; let i = index">
            <a href="#">{{category.name}}</a>
          </div>
        </div>
      </div>
      <li class="item"><a class="link" href="#">Empty</a></li>
      <li class="item"><a class="link" href="#">Empty</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>





