<form class="form" (ngSubmit)="onSubmit()" #userForm="ngForm">
  <input type="text" [(ngModel)]="user.name" class="input" id="name" name="name" placeholder="Name">
  <input type="text" [(ngModel)]="user.surname" class="input" id="surname" name="surname" placeholder="Surname">
  <input type="text" [(ngModel)]="user.email" class="input" id="email" name="email" placeholder="Email">
  <input type="text" [(ngModel)]="user.phone" class="input" id="phone" name="phone" placeholder="Phone">
  <button type="submit" [disabled]="!userForm.form.valid"
          class="btn btn-info">Login
  </button>
</form>

