<h2 class="user-form-header">Sign up</h2>
<form class="form" (ngSubmit)="onSubmit()" #userForm="ngForm">
  <div class="form__field">
        <label class="labels">Name</label>
    <input type="text" [(ngModel)]="user.name" class="input" id="name" name="name" placeholder="Name.." minlength="1"
           maxlength="128" pattern="[A-Z][a-z]*">
    <span class="form__error">Invalid name</span>
  </div>
  <div class="form__field">
        <label class="labels">Surname</label>
    <input type="text" [(ngModel)]="user.surname" class="input" id="surname" name="surname" placeholder="Surname.."
           minlength="1" maxlength="128" pattern="[A-Z][a-z]*">
    <span class="form__error">Invalid surname</span>
  </div>
  <div class="form__field">
        <label class="labels">Email</label>
    <input type="text" [(ngModel)]="user.email" class="input" id="email" name="email" placeholder="E-mail.."
           minlength="10"
           maxlength="128" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
    <span
      class="form__error">You have entered an invalid e-mail address. Please try again(e.g. jsmith@example.com)</span>
  </div>
  <div class="form__field">
        <label class="labels">Phone</label>
    <input type="text" [(ngModel)]="user.phone" class="input" id="phone" name="phone" placeholder="Phone.."
           minlength="13"
           maxlength="13" pattern="^(?:\+38)?(0\d{9})$">
    <span class="form__error">Please enter a 13-digit phone number(e.g. +380-XX-XX-XX-XXX)</span>
  </div>
  <button type="submit" [disabled]="!userForm.form.valid"
          class="btn btn-info">Add
  </button>
</form>

