<main class="main">
  <aside class="sidebar">
    <nav class="nav">
      <ul>
        <li class="active"><a href="#">Welcome</a></li>
        <li><a href="#">Categories</a></li>
        <li><a href="#">Empty</a></li>
        <li><a href="#">Empty</a></li>
      </ul>
    </nav>
  </aside>
</main>

<div class="container">
  <button onclick="window.location.href='/add'" class="btn btn-1">+</button>

  <ul id="myUL" class="responsive-table" matSort (matSortChange)="sortData($event)">
    <li class="table-header">
      <div class="col col-1" mat-sort-header="name">Name</div>
      <div class="col col-2" mat-sort-header="surname">Surname</div>
      <div class="col col-3">Email</div>
      <div class="col col-4">Phone</div>
    </li>
    <div class="scroll-bar">

      <li class="table-row" *ngFor="let user of users; let i = index">
        <div class="col col-2">{{user.name}}</div>
        <div class="col col-2">{{user.surname}}</div>
        <div class="col col-3">{{user.email}}</div>
        <div class="col col-4"> {{user.phone}}</div>

        <div class="dropdown">
          <button class="dropbtn">&#8942;</button>
          <div class="dropdown-content">
            <a (click)="updateUser(user.id!)">Update</a>
            <a (click)="userDetails(user.id!)">View</a>
          </div>
        </div>
      </li>
    </div>
  </ul>
</div>
