<main class="main">
  <aside class="sidebar">
    <nav class="nav">
      <ul>
        <li class="active"><a href="#">Welcome</a></li>
        <li><a href="#">Categories</a></li>
        <li><a href="#">Empty</a></li>
        <li><a href="#">Empty</a></li>
      </ul>
    </nav>
  </aside>
</main>

<div class="container">
  <button (click)="open(content)" class="btn btn-1">Add user</button>
  <ul id="myUL" class="responsive-table" matSort (matSortChange)="sortData($event)">
    <li class="table-header">
      <div class="col col-1" mat-sort-header="name">Name</div>
      <div class="col col-2" mat-sort-header="surname">Surname</div>
      <div class="col col-3">Email</div>
      <div class="col col-4">Phone</div>
    </li>
    <div class="scroll-bar">

      <li class="table-row" *ngFor="let user of users; let i = index">
        <div class="col col-2">{{user.name}}</div>
        <div class="col col-2">{{user.surname}}</div>
        <div class="col col-3">{{user.email}}</div>
        <div class="col col-4"> {{user.phone}}</div>

        <div class="dropdown">
          <button class="dropbtn">&#8942;</button>
          <div class="dropdown-content">
            <a (click)="updateUser(user.id!)">Update</a>
            <a (click)="userDetails(user.id!)">View</a>
            <a (click)="removeUser(user)">Delete</a>
          </div>
        </div>
      </li>
    </div>
  </ul>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New user</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <label for="name">Name</label>
        <div class="input-group">
          <input id="name" name="name" class="form-control" ngModel>
        </div>
      </div>
      <div class="form-group">
        <label for="surname">Surname</label>
        <div class="input-group">
          <input id="surname" name="surname" class="form-control" ngModel>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-group">
          <input id="email" name="email" class="form-control" ngModel>
        </div>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <div class="input-group">
          <input id="phone" name="phone" class="form-control" ngModel>
        </div>
      </div>
      <div class="border text-center">
        <button data-dismiss="modal" class="submit-button">Submit</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" ngbAutofocus class="btn btn-primary" style="width: 100px; height: 50px;text-align: center;"
            (click)="modal.close('Save click')">Cancel
    </button>
  </div>
</ng-template>



