body {
  font-family: "lato", sans-serif;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 100px;
}

/*table*/
.responsive-table li {
  border-radius: 13px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.responsive-table .table-header {
  background-color: #95A5A6;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  /*margin-top: 30px;*/
  width: 1040px;

}

.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  padding-top: 40px;
  padding-left: 80px;
  font-size: 20px;
}

.responsive-table .col-1 {
  flex-basis: 10%;
}

.responsive-table .col-2 {
  flex-basis: 10%;
}

.responsive-table .col-3 {
  flex-basis: 25%;
}

.responsive-table .col-4 {
  flex-basis: 25%;
}

@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }

  .responsive-table li {
    display: block;
  }

  .responsive-table .col {
    flex-basis: 100%;
  }

  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }

  .responsive-table .col:before {
    color: #6C7A89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}

div.scroll-bar {
  width: 1100px;
  height: 400px;
  padding: 1%;
  overflow-y: scroll;
}

/*Add button*/
.btn {
  font-family: 'Noto Sans', sans-serif;
  cursor: pointer;
  box-shadow: -1px 3px 3px 0 rgba(80, 80, 80, .2);
  width: 50px;
  height: 50px;
  padding: 17px;
  border: none;
  border-radius: 100%;
  margin: -5px 10px 10px;
  color: #fff;
  font-weight: bold;
  flex: 0 0 auto;
  text-align: center;
  font-size: 15px;
  margin-left: 1050px;
  margin-top: 30px;
}

.btn-1 {
  background: #2d2b3e;
  transition: all 0.25s ease-out;
}

.btn-1:hover {
  position: relative;
  top: -3px;
  box-shadow: -6px 14px 12px 2px rgba(90, 90, 90, .12);
}

/*3dot button*/
.dropbtn {
  background-color: #ffffff;
  color: #000000;
  padding: 0;
  font-size: 30px;
  border: none;
  height: 5px;

}

.dropdown {
  position: relative;
  display: inline-block;
  right: 30px;
  bottom: 7px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ffffff;
}


#myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

