<div class="container">
  <button onclick="window.location.href='/add'" class="btn btn-1">+</button>
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for..">

  <ul id="myUL" class="responsive-table" matSort (matSortChange)="sortData($event)">
    <li class="table-header">
      <div class="col col-1" mat-sort-header="name">Name</div>
      <div class="col col-2" mat-sort-header="surname">Surname</div>
      <div class="col col-3">Email</div>
      <div class="col col-4">Phone</div>
    </li>
    <div class="scroll-bar">

      <li class="table-row" *ngFor="let user of users; let i = index">
        <div class="col col-2">{{user.name}}</div>
        <div class="col col-2">{{user.surname}}</div>
        <div class="col col-3">{{user.email}}</div>
        <div class="col col-4"> {{user.phone}}</div>

        <div class="dropdown">
          <button class="dropbtn">&#8942;</button>
          <div class="dropdown-content">
            <a href="#">Update</a>
            <a href="#">Delete</a>
          </div>
        </div>

      </li>
    </div>
  </ul>
</div>
<script>
  function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName('li');

    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("a")[0];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }
</script>
